$blue : #4793af;
$yellow : #ffc470;
$red-light : #dd5746;
$red-dark : #8b322c;

@mixin main-font {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

//@mixin button-style {
//  --c: #229091; /* the color*/
//
//  box-shadow: 0 0 0 .1em inset var(--c);
//  --_g: linear-gradient(var(--c) 0 0) no-repeat;
//  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
//  var(--_g) calc(200% - var(--_p, 0%)) 0%,
//  var(--_g) calc(var(--_p, 0%) - 100%) 100%,
//  var(--_g) calc(200% - var(--_p, 0%)) 100%;
//  background-size: 50.5% calc(var(--_p, 0%) / 2 + .5%);
//  outline-offset: .1em;
//  transition: background-size .4s, background-position 0s .4s;
//}


html, body {
  height: 100%;

  margin: 0;
  padding: 0;
}

div, nav, footer, header, body {
  background-color: $yellow;

  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-self: center;
}

p, label, a, button {
  @include main-font;
}
label {
  font-size: 12px;
}

.user-photo {
  height: 60px;
  width: 60px;

  background-repeat: no-repeat;
  background-size: contain;

  border-radius: 50px;
}

.song-image {
  height: 100px;
  width: 100px;
  background-size: cover;
}

.playlist-cover {
  width: 23%;
  background-size: cover;
}

.song-info {
  margin: 0px;
  display: grid;
  height: fit-content;
  grid-template-columns: fit-content(20%) fit-content(40%) fit-content(20%);
  grid-column-gap: 20px;
  p {
    margin: 0px;
  }
  img {
    grid-row: span 2;
    grid-column: 1;
  }
  .big-text {
    grid-row: 1;
    grid-column: 2;
  }
  .small-text {
    grid-row: 2;
    grid-column: 2;
  }
  button {
    grid-row: span 2;
    grid-column: 3;
  }
}

#login-header {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  background-color: $blue;

  img {
    height: 70px;
    width: fit-content;
  }
}

.site-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: $blue;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 10px; /* Add padding to give space around the elements */
  z-index: 100;

  .user-info {
    margin-right: 30px;
    background-color: $blue;
    margin-top: 0px;
    width: fit-content;
    height: 100%;
    flex-direction: row;

    .user-photo {
      margin-right: 20px;
      margin-left: 10px;
    }
  }
  .search-block {
    width: fit-content;
    flex-direction: row;
    height: 100%;
    background-color: $blue;

    .search-input {
      margin-left: 30px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      transition: width 0.3s ease;
      width: 200px;
    }

    .search-input:focus {
      width: 300px;
      outline: none;
    }

    .search-button {
      margin-left: 30px;

      width: fit-content;
      text-align: center;

      min-width: 100px;
      height: 2rem;
      margin-top: 0px;
      font-size: 1.4rem;

      border-radius: 7px;
      border: 0px;

      color: $yellow;

      --c: #ffc470; /* the color*/

      box-shadow: 0 0 0 .1em inset var(--c);
      --_g: linear-gradient(var(--c) 0 0) no-repeat;
      background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p, 0%)) 0%,
      var(--_g) calc(var(--_p, 0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p, 0%)) 100%;
      background-size: 50.5% calc(var(--_p, 0%) / 2 + .5%);
      outline-offset: .1em;
      transition: background-size .4s, background-position 0s .4s;

      &:hover {
        --_p: 100%;
        color: $blue;
        transition: background-position .4s, background-size 0s;
      }

      &:active {
        box-shadow: 0 0 9e9q inset #0009;
        background-color: var(--c);
        color: #fff;
      }
    }
  }


  img {
    height: 70px;
    width: fit-content;
  }
}

button {
  width: 100%;
  height: 2rem;

  margin-top: 20px;
  font-size: 1.4rem;

  border-radius: 7px;
  border: 0px;

  color: $blue;

  --c:  #4793af; /* the color*/

  box-shadow: 0 0 0 .1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background:
          var(--_g) calc(var(--_p,0%) - 100%) 0%,
          var(--_g) calc(200% - var(--_p,0%)) 0%,
          var(--_g) calc(var(--_p,0%) - 100%) 100%,
          var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;

  &:hover {
    --_p: 100%;
    color: $yellow;
    transition: background-position .4s, background-size 0s;
  }
  &:active {
    box-shadow: 0 0 9e9q inset #0009;
    background-color: var(--c);
    color: #fff;
  }
}

#login-section {
  margin-top: 110px;
  width: 30%;
  align-items: center;
  justify-content: center;

  .big-text {
    font-size: 3rem;
    color: $red-dark;
  }
  a, p, label {
    color: $red-dark;

    font-size: 1.5rem;
    width: 100%;
    text-align: left;
  }
  a {
    color: $red-light;
  }
  input {
    height: 1.5rem;
    width: 100%;
    border: 0px;
    border-bottom: solid 2px $red-dark;
    background-color: transparent;

    font-size: 1.2rem;
    color: $blue;

    &:hover {
      border-image: linear-gradient(to right, $red-dark, $red-light);
      border-image-slice: 1;
      transition: border-image 4s;
      background-position: 200% 0;
    }
    &:focus {
      border: 0px;
      border-bottom: 2px solid $red-dark;
    }
  }

  #password-block {
    width: 100%;
    margin-top: 10px;
    display: grid;

    label {
      grid-row: 1;
      grid-column: 1;
    }
    button {
      grid-row: 1;
      grid-column: 2;

      width: fit-content;
      justify-self: end;

      background: none;
      border: none;

      text-decoration: underline;

      color: $red-light;

      font-size: 1rem;
    }
    input {
      grid-row: 2;
      grid-column: span 2;
    }
  }
}

#mood-questions {
  margin-top: 100px;
  display: grid;
  grid-template-columns: fit-content(30%) fit-content(30%) fit-content(30%);
  grid-row-gap: 30px;
  justify-content: space-evenly;

  #happy-mood, #sad-mood, #excited-mood {
    grid-row: 1;
    width: fit-content;
    align-self: center;
    justify-self: center;
  }
  #melancholic-mood, #heartbroken-mood, #energetic-mood {
    grid-row: 2;
    width: fit-content;
    justify-self: center;
    align-self: center;
  }
}

#mood-recommendations {
  margin-top: 50px;


  .song-info {
    margin-top: 30px;
    grid-template-columns: [left-start] 150px [left-end] auto [right-start] 0px [right-end]; /* Adjusted grid-template-columns */
  }
}

#new-releases {

  #songs {
    flex-direction: row;
  }

  .song-info {
    margin-top: 0px;
  }
}

#recommendations {
  margin-top: 40px;

  label {
    margin-bottom: 15px;
  }
  select {
    margin-bottom: 20px;
  }
}

.playlist-overview {
  flex-direction: column;
}

.playlist-header {
  flex-direction: column;
}

.playlist-songs {
  flex-direction: column;
}

.song-full {
  flex-direction: row;

  .song-info-short {
    flex-direction: column;

    p {
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }
}

.song-full:last-child {
  margin-bottom: 150px;
}

.side-menu {
  margin-top: 100px;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #f4f4f4;
  z-index: 101;


  .playlist-finder {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    .hide-button {
      width: fit-content;
      padding-left: 15px;
      padding-right: 15px;
      align-self: flex-end;
      margin-right: 10px;
    }
    p {
      margin: 0;
    }
    .finder-controls {
      height: 20%;
      margin-top: 10px;
      flex-direction: row;
      justify-content: space-between;

      #create-playlist {
        height: auto;
        font-size: 15px;
        width: 40%;
        margin-left: 10px;
        margin-top: 0px;
      }
      #find-playlist {
        font-size: 15px;
        height: auto;
        width: 40%;
        margin-right: 10px;
        margin-top: 0px;
      }
    }

    .finder-result {
      margin-top: 0px;
      height: 80%;
      flex-direction: column;

      .playlist-overview {
        margin: 0px;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: fit-content(60px) auto;
        img {
          height: 100%;
          width: 100%;
          grid-row: span 2;
          grid-column: 1;

        }

        .big-text {
          margin-left: 5px;
          grid-row: 1;
          grid-column: 2;
        }
        .small-text {
          margin-left: 5px;
          grid-row: 2;
          grid-column: 2;
        }
      }
    }
  }
  .friends-activity {
    width: 100%;
    height: 60%;
    p {
      margin: 0px;
      margin-top: 5px;
    }
    .user-playback {
      display: grid;

      p {
        margin: 0px;
      }

      img {
        grid-column: 1;
        grid-row: span 2;
      }
      .big-text {
        grid-row: 1;
        grid-column: 2;
      }
      .small-text {
        grid-row: 2;
        grid-column: 2;
      }
    }
  }
}
.playback {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 100;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: auto;
  align-items: center;
  justify-content: center;

  text-align: center;

  p {
    grid-row: 1;
    grid-column: span 2;
  }
  .playback-controls {
    margin-top: 0px;
    width: fit-content;
    grid-row: 2;
    grid-column: span 2;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    button {
      margin-top: 0px;
      margin-right: 20px;
      margin-left: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .playback-slider {
    grid-row: 3;
    grid-column: 1;
    position: relative;
  }
  .playback-buttons {
    flex-direction: row;
    width: fit-content;

    grid-row: 3;
    grid-column: 2;

    button {
      margin-left: 30px;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}

#song-info-page {
  margin-top: 110px;
}

#play-button {
  all: unset;
  box-sizing: border-box;
  width: 0;
  height: 30px;
  border-style: solid;
  border-width: 18px 0 18px 30px;
  border-color: transparent transparent transparent $red-light;
  cursor: pointer;
  will-change: border-width;
  transition: all .2s ease;

  &.paused {
    border-style: double;
    border-width: 0px 0 0px 30px;
  }

  &:hover {
    border-color: transparent transparent transparent $red-dark;
  }
}

.btn-arrow {
  color: transparent;
  display: block;
  //margin: 3rem;
  position: relative;
  width: 10px;
  height: 40px;

  background-color: rgba($blue, .05);

  transition: all 150ms ease-out;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    background-color: $red-light;

    transition: all 150ms ease-out;
  }

  &::before {
    width: 75%;
    height: 25%;
  }

  &::after {
    width: 25%;
    height: 75%;
  }

  &:hover, &:focus {
    background-color: rgba(black, .1);

    &::before,
    &::after {
      background-color: $red-light;
    }
  }

  &.btn-arrow-left,
  &.btn-arrow-right {
    &::before,
    &::after {
      top: 12.5%;
      left: 12.5%;
    }
  }

  &.btn-arrow-left {
    transform: rotate(-45deg);
  }

  &.btn-arrow-right {
    transform: rotate(135deg);
  }
}

.user-info {
  margin-top: 110px;

  .user-buttons {
    flex-direction: row;
    justify-content: space-evenly;
  }
  button {
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#lyrics {
  margin-top: 10px;
  margin-bottom: 48px;
  overflow-y: scroll;

  .current-line {
    color: $red-dark;
    font-size: 20px;
  }
  .inactive-lyrics {
    color: $red-light;
    font-size: 15px;
  }
}

.mood-button {
  align-items: center;
  display: flex;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
}

.big-text {
  font-weight: 500;
  font-size: 20px;
}
.logo-text {
  font-family: Monoton;
  font-weight: 300;
  margin-left: 15px;
  font-size: 25px;
}